body{
   width: 100%;
   height: 100%;
    background: #FFF;
   
}

header{
	width: 100%;
}

span#atras{
font-size: 200%;
color: #3ADF00;
}

span#logo{
	font-size: 200%;
	color: #3ADF00;
	margin-left: 8%;
	transform:scale(0,0);
   transition-property: transform;
   transition-duration: 2s;
}
span#logo:hover{
	transform:scale(5.1,5.1);
}



span#pal{
	font-size: 200%;
	color: #3ADF00;
}

#etiquetas{
	color:#3ADF00 ;
	font-size: 140%;
}
input#cajas{
	border:0;
	border width: 0px;
	background-color: #81F781;
	outline: none;
	border-radius:5px;
}